.container {
	background: #FFFFFF;
	background: rgba(255, 255, 255, 0.95);
}

.header {
	display: grid;
	align-content: center;
}

.outer {
	display: grid;
	grid-template-rows: 8rem 31rem;
	height: 100%;
	width: 100%;
}

.form {
	align-items: flex-end;
	display: grid;
	grid-column-gap: 0.4in;
	grid-template-columns: repeat(auto-fill, minmax(2in ,1fr));
	grid-template-rows: repeat(auto-fill, 4rem);
	margin: 0 0.6in;
	justify-content: center;
}

input, select {
	border: 1px #888888 solid;
	border-radius: 4px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 0.8rem;
	height: 2rem;
	padding: 0 0.6rem;
	width: 100%;
}

.btn-primary {
	background-color: #3377dd;
	color: white;
	font-weight: 600;
}

.btn-secondary {
	background-color: #888888;
	color: white;
	font-weight: 600;
}

input:hover, select:hover {
	box-shadow: inset rgba(0,0,0,0.1) 0.1rem 0.1rem 0.4rem;
}

body {
	background: rgb(80,160,205);
	background: url("https://www.larutadelsorigens.cat/wallpic/full/5-52242_keyboard-hd-wallpaper-black-keyboard.jpg");
	background-position: center;
	background-size: cover;
	display: grid;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1rem;
	grid-template-columns: minmax(3in, 5.6in);
	height: 100%;
	margin: 0;
	width: 100%;
}

h1 {
	color: rgb(195,100,60);
	font-family: 'Oswald', sans-serif;
	font-size: 4em;
	font-style: italic;
	font-weight: 600;
}